<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Twitt post</title>
    <!--<script src="/static/dialog.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#session_button").click(function(){
                $.ajax({
                    url: "/users/active_session",
                    type: "GET",
                    dataType: "json",
                    success: function(data)
                    {
                        if(data.success == false){
                            window.location="/user/logout";
                        }
                        else
                        {
                            console.log(data)
                            $(data).each(function(index, value){
                                if (value.current_session != true){

                                    my_button = $('<button/>',
                                    { text:"revoke",
                                    data_id: value.id
                                    }).addClass("deleteButton")
                                     my_div = $('<div id="div'+ index +'" />');
                                     my_div.append('<li>browser:'+value.browser+"<br>"+'ip_address:'+value.ip_address+"<br>"+'sign_in_time:'+value.sign_in_time+"<br><br>"+'</li>');
                                     my_div.append(my_button)
                                     $('#display_session').append(my_div);

                                }
                                else{
                                    my_div = $('<div id="div'+ index +'" />');
                                    my_div.append('<li>browser:'+value.browser+"<br>"+'ip_address:'+value.ip_address+"<br>"+'sign_in_time:'+value.sign_in_time+"<br><br>"+'</li>')
                                    $('#display_session').append(my_div);

                                }
                            });

                        }


                    }
                });
            });
            $('#display_session').on("click",".deleteButton",function() {
                post_fun(this);
            });
        });
        function post_fun(but)
        {
            var $but = $(but);
            $.ajax({
                type: "POST",
                url: "/users/revoke",
                data: JSON.stringify({
                        id_param: $but.attr("data_id")
                    }),
                contentType: 'application/json;charset=UTF-8',
                success: function(data)
                {
                    console.log(data);
                    if(data.success == false){
                        window.location="/user/logout";
                    }
                    $but.closest("div").fadeOut(200);
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=1.88817">
</head>
<body>

<div class="row">
  <div class="column left" style="background-color:#aaa;">
    <div>
    <form name="twitt_form" action={{url_for("posting_messsage", email=email)}} method="POST">

        <b style="font-size:124%" ;>TITLE</b>
        <hr>
        <br>
        <div class="dropdown" style="float:right;">
            <button class="dropbtn">Security</button>
            <div class="dropdown-content">
                <!--<a href="#" onclick="load_session()">Sessions</a>-->
                <a href="#" id="session_button">Sessions</a>
            </div>
        </div>

        <textarea rows="1" cols="20" name="your_title" id='your_title' value="" required></textarea> <br><br>
        <b style="font-size:124%" ;>WRITE YOUR POST</b>
        <hr>
        <br>
        <textarea name="title" id='title' value="" required></textarea> <br><br>
        <br>
        <button type="submit" class="button"><b style="font-size:124%" ;>POST</b></button>
    </form>
    <br><br><br><br>
</div>



<div id="lower_part">
    <b style="font-size:124%" ;>RECENTPOST</b> <br>
    <hr>
    <br>

    {% for post in retrieved_post: %}
    <ul><b>Title and Post</b>
        <li>{{post.title}}</li>
        <li>{{post.my_post}}</li>
    </ul>
    {% endfor %}
    <br><br>
    <button class="delete_button"><b style="font-size:124%" ;>Delete</b></button>
    <form action={{url_for("logout")}} method="post">
        <input type="submit" name="logout" class="logout_button" id="logout" value="Logout"> <b style="font-size:124%" ;></b> </input>

    </form>
</div>

  </div>

  <div class="column right" id="display_session" style="background-color:#bbb;">

  </div>
</div>


</body>
<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$.get("/Getting_message/{{email}}", function(data, status){-->
            <!--console.log("The retrieved posts are: ", data);-->
        <!--});-->
    <!--});-->

<!--</script>-->




</html>